.calc {
	/*margin: 100px auto;*/
	width: 269px;
	height: 449px;
	border-radius: 10px;
	background: rgb(82, 82, 83);
	border: 1px solid rgb(123, 123, 124);
	font-weight: 800;
	box-shadow:
		rgba(0, 0, 0, 0.3) 0 19px 38px,
		rgba(0, 0, 0, 0.22) 0 15px 12px;
}

body {
	margin: 100px auto;
	width: 268px;
	height: 449px;
	color: azure;
	border-radius: 10px;
	font-weight: 800;
}

.calc__screen {
	width: 257px;
	height: 114px;
	display: grid;
	justify-items: end;
	align-items: end;
}

.calc__screen-number {
	font-family: 'Calibri Light', sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 55px;
	line-height: 0;
	display: flex;
	align-items: center;
	text-align: right;
}

.container {
	display: grid;
	grid-template-areas:
		'btn_ac btn_plus-minus btn_percent btn_division'
		'btn_seven btn_eight btn_nine btn_myltiply'
		'btn_four btn_five btn_six btn_myltiply '
		'btn_one btn_two btn_three btn_plus'
		'btn_zero btn_zero btn_dot btn_equal';
	min-width: 260px;
	color: #181818;
	justify-items: center;
}

.btn {
	width: 65px;
	height: 65px;
	background: rgb(124, 124, 125);
	text-align: center;
	line-height: 65px;
	font-family: 'Calibri Light', sans-serif;
	font-style: normal;
	font-size: 30px;
	color: #e9e9ea;
	border: 1px solid #525253;
	cursor: pointer;
	user-select: none;
}

.btn_zero {
	grid-area: btn_zero;
	width: 132px;
}

.btn:hover {
	filter: brightness(110%);
}

.btn:active {
	filter: brightness(90%);
}

.btn_grey {
	background-color: rgb(99, 99, 99);
}
.btn_orange {
	background-color: rgb(253, 158, 11);
}

.btn_cray1 {
	border-radius: 0 0 0 6px;
}

.btn_cray2 {
	border-radius: 0 0 6px 0;
}
.switch-btn {
	display: inline-block;
	width: 52px;
	height: 30px;
	border-radius: 14px;
	background: #cdcbc7;
	z-index: 0;
	margin-top: 5px;
	margin-right: 200px;
	border: none;
	cursor: pointer;
	position: relative;
	transition-duration: 300ms;
}
.switch-btn::after {
	content: '';
	height: 23px;
	width: 23px;
	border-radius: 17px;
	background: #fff;
	top: 3px;
	left: 3px;
	transition-duration: 300ms;
	position: absolute;
	z-index: 1;
}
.switch-on {
	background: #525252;
}
.switch-on::after {
	left: 24px;
}

body.darktheme .btn_orange {
	background: rgb(155, 100, 54);
}
body.darktheme {
	border: 1px solid rgb(168, 168, 168);
	background: rgb(205, 203, 199);
	color: #181817;
	box-shadow:
		rgba(0, 0, 0, 0.3) 0 19px 38px,
		rgba(0, 0, 0, 0.22) 0 15px 12px;
}
body.darktheme .btn_grey {
	background: rgb(184, 182, 178);
}
