.calc {
	/*margin: 100px auto;*/
	/*width: 268px;*/
	/*height: 447px;*/
	/*border: 1px solid rgb(168, 168, 168);*/
	/*border-radius: 10px;*/
	/*background: rgb(82, 82, 83);*/
	/*font-weight: 800;*/
	/*box-shadow:*/
	/*	rgba(0, 0, 0, 0.3) 0 19px 38px,*/
	/*	rgba(0, 0, 0, 0.22) 0 15px 12px;*/
}

.calc__screen {
	width: 257px;
	height: 114px;
	display: grid;
	justify-items: end;
	align-items: end;
}

.calc__screen-number {
	font-family: 'Calibri Light', sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 55px;
	line-height: 0;
	display: flex;
	align-items: center;
	text-align: right;
}

.container {
	display: grid;
	grid-template-areas:
		'btn_ac btn_plus-minus btn_percent btn_division'
		'btn_seven btn_eight btn_nine btn_myltiply'
		'btn_four btn_five btn_six btn_myltiply '
		'btn_one btn_two btn_three btn_plus'
		'btn_zero btn_zero btn_dot btn_equal';
	min-width: 260px;
	color: #181818;
	justify-items: center;
}

.btn {
	width: 65px;
	height: 65px;
	background: rgb(124, 124, 125);
	text-align: center;
	line-height: 65px;
	font-family: 'Calibri Light', sans-serif;
	font-style: normal;
	font-size: 30px;
	color: #e9e9ea;
	border: 1px solid #525253;
	cursor: pointer;
	user-select: none;
}
body.darktheme .btn {
	background: rgb(155 153 150);
	color: #181817;
	border: 1px solid #cbc9c5;
}

.btn_zero {
	grid-area: btn_zero;
	width: 132px;
}

.btn:hover {
	filter: brightness(110%);
}

.btn:active {
	filter: brightness(90%);
}

.btn_grey {
	background-color: rgb(99, 99, 99);
}
body.darktheme .btn_grey {
	background: rgb(184, 182, 178);
}

.btn_orange {
	background-color: rgb(253, 158, 11);
}
body.darktheme .btn_orange {
	background: rgb(155, 100, 54);
}

.btn_cray1 {
	border-radius: 0 0 0 6px;
}

.btn_cray2 {
	border-radius: 0 0 6px 0;
}
.switch-btn {
	display: inline-block;
	width: 72px; /* ширина */
	height: 38px; /* высота */
	border-radius: 19px; /* радиус скругления */
	background: #bfbfbf; /* цвет фона */
	z-index: 0;
	margin: 0;
	padding: 0;
	border: none;
	cursor: pointer;
	position: relative;
	transition-duration: 300ms; /* анимация */
}
.switch-btn::after {
	content: '';
	height: 32px; /* высота кнопки */
	width: 32px; /* ширина кнопки */
	border-radius: 17px;
	background: #fff; /* цвет кнопки */
	top: 3px; /* положение кнопки по вертикали относительно основы */
	left: 3px; /* положение кнопки по горизонтали относительно основы */
	transition-duration: 300ms; /* анимация */
	position: absolute;
	z-index: 1;
}
.switch-on {
	background: #118c4e;
}
.switch-on::after {
	left: 37px;
}

body {
	margin: 100px auto;
	width: 268px;
	height: 447px;
	color: azure;
	border: 1px solid rgb(168, 168, 168);
	border-radius: 10px;
	background: rgb(82, 82, 82);
	font-weight: 800;
	box-shadow:
		rgba(0, 0, 0, 0.3) 0 19px 38px,
		rgba(0, 0, 0, 0.22) 0 15px 12px;
}

body.darktheme {
	border: 1px solid rgb(168, 168, 168);
	background: rgb(205, 203, 199);
	color: #181817;
	box-shadow:
		rgba(0, 0, 0, 0.3) 0 19px 38px,
		rgba(0, 0, 0, 0.22) 0 15px 12px;
}
